# terraform
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl

# gcp
*.json
gcp-key.json
credentials.json

# helm values
*-values.yaml
!*-values.example.yaml

# python
__pycache__/
*.py[cod]
.venv/
venv/

# env files
.env
*.env
!.env.example

# local
.DS_Store
*.log
*.key
*.pem
kubeconfig
